@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

@import "tailwindcss";


.text-inner-shadow {
  color: #fff;
  text-shadow:
    1px 1px 1px rgba(0,0,0,0.2),
   -1px -1px 1px rgba(255,255,255,0.10);
}

/* layout system */
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

