@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

@import "tailwindcss";


.text-inner-shadow {
  color: #fff;
  text-shadow:
    1px 1px 1px rgba(0,0,0,0.2),
   -1px -1px 1px rgba(255,255,255,0.10);
}

/* layout system */
.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}

.mouse-indicator {
  width: 28px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 20px;
  position: relative;
  opacity: 0.6;
}

.mouse-indicator .wheel {
  width: 4px;
  height: 8px;
  background: #000;
  border-radius: 4px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollWheel 1.4s infinite ease-in-out;
}

@keyframes scrollWheel {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 12px);
  }
}
